[Desktop Entry]
Version=1.0
Name=Cleanux
Comment=Linux Cleaning Tool
Exec=/usr/bin/executecleanux.sh
Icon=cleanuxicon.png
Terminal=false
Type=Application
Categories=Utility;

